@import url("../global/global.css");

body {
    margin: 0px auto;
}

.container h2 {
    text-align: center;
    margin-top: 5%;
    font-size: 50px;
}

.materias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px auto;
}
figure {
    width: 300px;
    height: 350px;
    text-align: center;
    font-size: smaller;
    border: thin black solid;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    padding: 10px;
    margin: 20px auto;
}

.fig1 {
    background-size: cover;
    background-position: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(242, 242, 242, 0) 50%), url(../img/img-steamdeck.jpg);
    background-size: 300px 350px;
}

.fig2 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(242, 242, 242, 0) 50%), url(../img/gpu-capa.jpg);
    background-size: cover;
    background-position: center;
    
}

.fig3 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(242, 242, 242, 0) 50%), url(../img/ssd-capa.jpg);
    background-size: cover;
    background-position: center;
}

.container h2 {
    color: var(--text-color1);
    text-align: center;
}
.title h3 {
    font-weight: 600;
    margin-top: 230px;
    font-size: 1.1rem;
    color: var(--text-color2);
}