@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:visited {
    color: #000;
}

body {
    max-width: 100%;
    width: 100vw;
    font-family: 'Open Sans', sans-serif;
    background: var(--bg-color1);
    overflow-x: hidden;
}

:root,
:root.light {
    --bg-color1: #e1ecf6;
    --bg-color2: radial-gradient(circle, rgba(1, 76, 162, 1) 0%, rgba(0, 61, 172, 1) 6%);
    --bg-color3: linear-gradient(0deg, rgba(38, 119, 193, 1) 0%, rgba(77, 142, 201, 1) 65%);
    --bg-btn: #00318a;
    --text-color1: #1e1e1e;
    --text-color2: #f7f7f7;
}

header {
    height: 140px;
    background: var(--bg-color2);
    position: relative;
    margin-bottom: 5%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

header h1 {
    font-size: 3.5rem;
    text-align: center;
    font-weight: 300;
    color: var(--text-color2);
}

header a:visited {
    color: var(--text-color2);
}

.menu {
    position: absolute;
    left: 40%;
    bottom: 5%;
    width: 100%;
}

.menu a {
    font-size: 20px;
    margin-right: 20px;
    color: #fff;
    text-decoration: none;
    transition: 0.7s;
}

.menu a:hover {
    color: #0ff;
}

.menu-movel {
    display: none;
}

main {
    max-width: 1100px;
    margin: 0 auto;
}

.secao1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px 500px;
    gap: 10px;
    margin: 10px auto;
}

.secao1 h2 {
    color: #fff;
    position: relative;
    left: 15%;
    margin-top: 70%;
    display: flex;
    flex-wrap: wrap;
    margin-right: 25%;
    text-align: left;
    font-weight: 600;
}

.secao1 .conteudo1 h2 {
    color: #fff;
    position: relative;
    margin-top: 160%;
}

.conteudo1 {
    grid-row: 1 / -1;

}

.conteudo1 img {
    height: 100%;
}

img {
    width: 600px;
    height: 500px;
    object-fit: cover;
}

.conteudo {
    position: absolute;
    background-size: cover;
    background-attachment: scroll;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
}

.conteudo1 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(242, 242, 242, 0) 50%), url('img/img-materia1.jfif');
    background-size: cover;
    background-attachment: scroll;
}

.conteudo2 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(242, 242, 242, 0) 50%), url('img/img-materia2.jpg');
    background-size: cover;
    background-attachment: scroll;
}

.conteudo3 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(242, 242, 242, 0) 50%), url('img/img-materia3.jfif');
    background-size: cover;
    background-attachment: scroll;
}

.conteudo h2 {
    position: absolute;
    bottom: 5%;
    left: 40%;
    transform: translate(-50%);
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--text-color2);
}

.secao2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: relative;
}

.artigos {
    background: var(--bg-color3);
    color: var(--text-color2);
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px 0px 10px 0px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.artigos img {
    height: 100%;
    max-width: 100%;
}

.artigos-titulo {
    margin: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: underline;
}

.artigos-texto {
    margin: 10px;
    text-align: justify;
}

.texto {
    margin-bottom: 20px;
}

.topico {
    text-align: center;
    position: sticky;
    top: 10px;
    right: 0;
    height: 100px;
    width: 100%;
    overflow: none;
}

.topico h2 {
    font-size: 2rem;
    font-weight: 300;
}

.topico a {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-btn);
    color: var(--text-color2);
    width: 110px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    margin: 15px auto;
    padding: 15px;
}

.topico a:hover {
    cursor: pointer;
}

.topico a {
    list-style: none;
    font-size: 1.2rem;
    font-weight: 600;
}

footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
    text-align: center;
    align-content: center;
    height: 300px;
    background: var(--bg-color2);
}


.titulo {
    align-self: center;
    font-size: 3rem;
    font-weight: 100;
    color: var(--text-color2);
}

.footer-lista {
    border-right: 3px solid var(--text-color2);
}

.footer-lista ul {
    max-width: 100px;
    margin: 0px auto;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.borda-left {
    border-left: 3px solid var(--text-color2);
}

.footer-lista h3 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-color2);
}

.footer-lista a {
    color: var(--text-color2);
    margin: 10px 0px;
}

.fim {
    text-align: center;
    color: #ffff;
    background-color: #05f;
    margin: 0;
    padding: 1%;
}

.fim span {
    color: #ff0;
    text-decoration: underline;
    font-weight: 600;
}

@media screen and (max-width: 768px) {


    main {
        padding: 10px;
    }

    .menu-movel {
        display: block;
        width: 80%;
        position: absolute;
        top: 5%;
        left: 15%;
        text-align: right;
        font-size: 25px;
        margin-top: 8px;
        color: #fff;
    }

    .menu {
        display: none;
    }

    .secao1 {
        width: 95%;
        display: flex;
        flex-direction: column;
    }

    .secao1 h2 {
        bottom: 15px;
    }

    .secao2 {
        width: 95%;
        display: flex;
        flex-direction: column;
        left: 10px;
    }

    .artigos {
        height: 250px;
    }

    .artigos img {
        height: 250px;
    }

    .artigos .texto .artigos-titulo {
        display: flex;
        flex-wrap: nowrap;
        font-size: 15px;
        text-align: lrft;
        text-decoration: underline;
    }

    .artigos .texto .artigos-texto {
        display: flex;
        flex-wrap: wrap;
        font-size: 14px;
        text-align: start;
    }

    .topico {
        display: none;
    }

    footer {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    footer h3 {
        margin-top: 35px;
    }

    footer .contato {
        display: flex;
        flex-direction: row;
    }

    footer .contato a {
        margin: 10% 20px;
        margin-left: -12%; 
    }

    .footer-lista {
        border-right: none;
    }

    .borda-left {
        border-left: none;
    }
}

header .menu.ativado {
    background: rgba(0, 76, 162, 0.8);
    position: relative;
    display: grid;
    color: var(--text-color2);
    margin-top: 14.8%;
    z-index: 1;
    padding: 10px ;
    border-radius: 0 0 4px 4px;
}

header .menu.ativado a{
    margin-bottom: 10px;
    text-align: justify;
}