main {
    max-width: 1100px;
    margin: 0 auto;
}

.secao1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px 500px;
    gap: 10px;
    margin: 10px auto;
}

.secao1 h2 {
    color: var(--text-color2);
    position: relative;
    left: 15%;
    margin-top: 65%;
    display: flex;
    flex-wrap: wrap;
    margin-right: 25%;
    text-align: left;
    font-weight: 600;
}

.secao1 .conteudo1 h2 {
    color: var(--text-color2);
    position: relative;
    margin-top: 160%;
}

.conteudo1 {
    grid-row: 1 / -1;
}

.conteudo1 img {
    height: 100%;
}

img {
    width: 600px;
    height: 500px;
    object-fit: cover;
}

.conteudo1 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(242, 242, 242, 0) 50%), url('img/img-materia1.jfif');
    background-size: cover;
    background-attachment: scroll;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.conteudo2 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(242, 242, 242, 0) 50%), url('img/gpu-capa.jpg');
    background-size: cover;
    background-attachment: scroll;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.conteudo3 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(242, 242, 242, 0) 50%), url('img/ssd-capa.jpg');
    background-size: cover;
    background-attachment: scroll;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.secao2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: relative;
}

.artigos {
    background: var(--bg-color3);
    color: var(--text-color2);
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px 0px 10px 0px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.artigos img {
    height: 100%;
    max-width: 100%;
}

.artigos-titulo {
    margin: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: underline;
}

.artigos-texto {
    margin: 10px;
    text-align: justify;
}

.texto {
    margin-bottom: 20px;
}

.topico {
    text-align: center;
    position: sticky;
    top: 10px;
    right: 0;
    height: 100px;
    width: 100%;
    overflow: none;
}

.topico h2 {
    font-size: 2rem;
    font-weight: 300;
    color: var(--text-color1);
}

.topico a {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-btn);
    color: var(--text-color2);
    width: 110px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    margin: 15px auto;
    padding: 15px;
}

.topico a:hover {
    cursor: pointer;
}

.topico a {
    list-style: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-color2);
}

.topico a:visited {
    color: var(--text-color2);
}

@media screen and (max-width: 768px) {
    main {
        padding: 10px;
    }

    .menu-movel {
        display: block;
        width: 80%;
        position: absolute;
        top: 5%;
        left: 15%;
        text-align: right;
        font-size: 25px;
        margin-top: 8px;
        color: #fff;
    }

    .menu {
        display: none;
    }

    .secao1 {
        width: 95%;
        display: flex;
        flex-direction: column;
    }

    .secao1 h2 {
        bottom: 15px;
    }

    .secao2 {
        width: 95%;
        display: flex;
        flex-direction: column;
        left: 10px;
    }

    .artigos {
        display: flex;
        flex-direction: column-reverse;
    }

    .artigos img {
        width: auto;
        height: 15.5em;
    }

    .artigos .texto .artigos-titulo {
        display: flex;
        flex-wrap: nowrap;
        font-size: 15px;
        text-align: left;
        text-decoration: underline;
    }

    .artigos .texto .artigos-texto {
        display: flex;
        flex-wrap: nowrap;
        font-size: 14px;
        text-align: start;
    }

    .topico {
        display: none;
    }
}

